h1{
    border:3px solid black;
}
#outer{
    height:400px;
    width:400px;
    background-color: pink;
    border:2px solid black;
    margin:50px

}
#inner {
    height:300px;
    width:300px;
    background-color: greenyellow;
    border:2px solid black;
    margin-left:15%;
    margin-top:15%;

}