/* Pseudo element: */
button:hover{
    color: white; background-color: black;
}

button:active{
    background-color: red;
}
.div:nth-of-type(2) {
    color:chocolate; background-color: chartreuse;
}

/* Pseudo Element: */
p::first-letter{


    color:red
}