.card{
    height:100px;
    width:100px;
    border:2px solid black;
    display:inline-block;
    margin-top:5px;
    border-radius: 5px;

}

img{
    width: 50%;
    border-radius: 5px 5px 0 0;
    
}